.toolbar {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 6px;
}

.toolbar_field {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}