* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body,
  #root,
  :root {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  body {
    font-family:
      Inter,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      sans-serif;
  
    overflow: hidden;
  }
  
  button,
  textarea {
    font: inherit;
  }